body{
    background-color:rgb(91, 88, 61);
    
    color: rgb(230, 226, 219);
    font-family: Playfair Display;
}

h1{
    text-align: center;
}
p{
    text-align: center;
    color: azure;
}
a{
    
    color: aliceblue;
    width: 100px;
    border-radius: 10px 15px;
    
    
    
}
.inicio {
    padding: 15px;
    background-color:#865151;
    color: #fff;
    text-decoration:none;
    text-align: center;
    display: block;
    margin: auto;
}
